*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Header{
    font-size: 18px;
    min-width: 450px;
    box-shadow: 0 0 5px 0 rgb(86, 86, 86);
    background-color: #f1f1f1;
}

.userSpace{
    width: 100%;
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: row;

}

#logOut{
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 60px;
    margin: 16px;
    align-items: center;
}

.logOutBotton{
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.logOutBotton:hover{
    color: rgb(190, 18, 18);
    scale: 1.05;
}

.userSpace p{
    font-weight: bold;
}

#userAvatar{
    margin: 16px;
    border-radius: 9999999px;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border: 2px solid black;
    transition: 0.3s;
}

#userAvatar:hover{
    scale: 1.05;
    box-shadow: 0 0 8px  #222222;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    max-height: 650px;
    margin: 16px;
}

.task{
    background-color: #7348ff;
    color: #f1f1f1;
    font-size: 16px;
    border-radius: 5px;
    margin: 12px;
    box-shadow: 0 0 4px 0 #4f4f4f;
    padding: 24px;
    max-width: 260px;
    min-width: 260px;
    position: relative;
    transition: 0.3s;
}

.task:hover{
    scale: 1.05;
    box-shadow: 0 0 8px 0 #4f4f4f;
}

.task.notReady .editIcon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(315deg) brightness(108%) contrast(101%);
    
}

.task.ready {
    background-color: #ffffff;
    color: #222222;
    text-decoration: line-through;
}

.editIcon{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
}

.createContainer{
    position: absolute;
    bottom: 16px;
    right: 16px;
    margin: 16px;
}

.createTask{
    height: 64px;
    width: 64px;
    border-radius: 999999px;
    background-color: #7348ff;
    transition: 0.3s;
}

.createTask:hover{
    scale: 1.05;
    box-shadow: 0 0 8px 0 #4f4f4f;
}